body {
    background-color: blue;
    color: rgb(255, 0, 8);
}

header {
    border: solid 2px rgb(0, 0, 0);
    font-size: 32px;
    padding: 10px;
    color: rgb(251, 7, 7);
}

section {
    background-color: #020207;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
}

p {
    font-size: 16px;
    color: rgb(255, 255, 255);
}