body {
    background-color: blue;
    color: aqua;
}

header {
    border: solid 2px rgb(51, 148, 233);
    font-size: 32px;
    padding: 10px;
    color: rgb(7, 141, 251);
}

h1 {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
}

p {
    font-size: 16px;
    color: aquamarine;
}